@charset "utf-8";
/* 메인 페이지 미디어쿼리 - media.css */

/* 최대크기로 셋팅할 경우 큰 사이즈에서
작은사이즈 순서로 미디어쿼리를 작성해야 잘 적용된다! */
@media only screen and (max-width:800px) {

    /* 1. GNB없애기 */
    .gnb {
        display: none;
    }

    /* 2. 상단영역 */
    .top {
        padding-bottom: 20px;
    }

    /* 3. 햄버거버튼 */
    .ham {
        display: block;
        /* 보이기 */
    }

    /* 4. 개별 캐릭터 박스 공통 */
    .cat {
        width: 100%;
    }

    /* 5. 캐릭터 박스 */
    #cbx {
        position: static;
        /* relative포지션 해제! */
    }

    /* 6. 캐릭터개별박스(.cat)에 마우스 오버시 마진top없애기 */
    .cat:hover {
        margin-top: 0;
    }

    /* 7. 하단링크 */
    ul.bm {
        display: none;
    }

}

/* 미디어쿼리 */





/* 
    [ 미디어쿼리는 무엇이며 왜사용하는가? ]

    1. 미디어쿼리란?
    - 디바이스(화면을 가진 기기)의 가로크기를
    체크하여 그 화면 크기에 맞는 CSS를 변경해주는
    코딩 기법

    2. 왜 사용하는가?
    - 넓은 화면에서 보이던 레이아웃이 작은화면에
    맞지 않는 가독성과 구조의 복잡함을 해결하기위해
    각 사이즈별로 디자인을 변경할 수 있도록
    미디어쿼리를 사용해야 한다!

    3. 코딩법
    @media only screen and (max-width:몇px) and (min-width:몇px){
        변경할 CSS 코딩
    }

    1) @media : 미디어쿼리 선언부
    2) only screen : 회피코드
        (미디어쿼리를 아는 브라우저만 들어온다!)
    3) and : 연결자
    4) (max-width:몇px) : 최대사이즈설정(px로만씀)
    5) (min-width:몇px) : 최소사이즈설정(px로만씀)

    -> 최대,최소를 모두 쓰면 사이범위의 사이즈가 적용됨
    -> 최대만 쓰면 최대를 포함한 사이즈 이하
    -> 최소만 쓰면 최소를 포함한 사이즈 이상

    -> 브라우저가 해당사이즈가 되면 여기 코딩된
    CSS를 본 페이지의 기존 CSS에 덮어써 적용함!
    -> 단, 미디어쿼리 CSS는 기존에 설정된 선택자와
    똑같이 해야 제대로 덮어써진다!!!(우선순위에 문제가 생기지 않게 해야함!)





*/