@charset "utf-8";
/* 외부CSS파일 상단에 문자셋 필수! */

/* 
            선택자 {
                속성명 : 값;
            }
        */

/* 상단부분 */
#top {
    /* 글자가운데 */
    text-align: center;
}

/* 메뉴 */
.menu a,
.menu {
    color: hotpink;
    text-decoration: none;
}

/* 마우스오버시 가상요소 :hover */
.menu a:hover,
.menu a.on {
    color: yellowgreen;
    text-decoration: overline;
    /* 윗줄 */
}

/* 컨텐츠부분 - 테이블 */
.tbl {
    /* 테두리 - border: 두께 종류 색상 */
    border: 5px solid #ccc;
    /* 가로크기 - width */
    width: 800px;
    /* 마진을 이용한 박스 가로중앙정렬: 
                양쪽 auto */
    margin: 30px auto;
}

/* 테이블 데이터(td) */
.tbl td {
    /* 글자크기 : 기본글자크기 16px */
    font-size: 18px;
    /* 줄간격: 숫자는 글자크기기준 배수
            (px사용가능) */
    line-height: 2;
    /* 안쪽여백 */
    padding: 5px;
}

/* 드라마제목 */
.tbl a {
    color: #000;
    /* 글자색 */
    text-decoration: none;
    /* 밑줄없앰 */
    font-weight: bold;
    /* 글자두껍게 */
}

/* 마우스 오버시 글자색, 밑줄 */
/* :hover는 가상클래스 */
.tbl a:hover {
    color: #f00;
    /* 글자색 */
    text-decoration: underline;
    /* 밑줄 */
}