@charset "utf-8";
/* cgvpj 리셋 CSS - reset.css */

/* 1. 마진, 패딩 없애기 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,p{
    margin: 0;
    padding: 0;
}
/* 2. a요소 리셋 */
a {
    color: #fff;/* 배경이 검정이기때문에 */
    text-decoration: none;
}
/* 3. ul,ol 리셋 */
ul,ol{
    list-style: none;/* 블릿/숫자 제거 땡땡땡 */
}
/* 4. li 플롯 */
li{
    float: left;
}
/* 5. float 지우기 */
/* .clb::after는 float을 지울 필요가 있는 요소가 있을 경우 
클래스를 주면 가상요소가 셋팅된다 */
ul::after, ol::after, .clb::after{
    content: '';
    display: block;
    clear: both;
}

