@charset "utf-8";
/* 보그 리셋 CSS - reset.css */


/* 공통 초기화 */
html,body,ol,ul,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
img{
    border: none;
}

