@charset "utf-8";
/* 보그 리셋 CSS - reset.css */


/* 공통 초기화 */
html,body,ol,ul,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
/* 박스의 이미지 하단각극 없애기(약 4px) */
img{
    vertical-align: bottom;
    /* 이미지 링크시 서버에서 볼때 파란색 자동보더 없애기 */
    border: none;
}