<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS 기초</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 뷰JS 스탠드얼론 버전 가져오기!! -->
    <script>
        window.addEventListener("DOMContentLoaded",
            () => {
                console.log("로딩완료!");

//______________________________________________________________________________
                // 1. 텍스트 바인딩
                new Vue({
                    el: "#app1",
                    // el은 적용할 요소 (element)를 담는 속성
                    data: { // 객체안에 객체
                        message: "나는 프론트엔드 개발자다!"
                        // message 속성은 텍스트값을 할당해서 사용
                        // 이것은 변수처럼
                    }
                    //data는 사용할 데이터를 셋업하는 속성
                });
                // new 키워드는 객체를 생성하는 역할을 함
                // -> 이렇게 생성된 것을 객체 인스턴스라고 함

//______________________________________________________________________________
                // 2. 반복렌더링
                new Vue({
                    el: "#app2",
                    data: {
                        list: ["김수현", "공유", "송강"]
                        // list속성은 반복데이터를 셋팅한다!
                    }
                }); /// Vue ///

//______________________________________________________________________________
                // 3. 이벤트 사용하기
                new Vue({
                    el: "#app3",
                    methods: {
                        // 속성:값
                        myClick: function(event){
                            alert(event.target); // 버튼자신!
                        } ///// myClick /////
                    }
                    // methods 속성은 함수기능을 구현하여 할당함

                }); /// Vue ///

//______________________________________________________________________________
                //4. 입력 양식과 동기화하기
                new Vue({
                    el:"#app4",
                    data:{
                        message:"여기에 입력해봐~!"
                    }
                }); /// Vue ///

//______________________________________________________________________________                
                // 5. 조건분기
                new Vue({
                    el:"#app5",
                    data:{
                        show: true
                        // show 속성은 디스플레이를 보이고 숨길때 
                        // 속성값을 true/false로 변경하도록 값을 셋팅함
                    }
                }); /// Vue ///
//______________________________________________________________________________ 


//______________________________________________________________________________ 
            }); ///////////////////// 로드구역 /////////////////////
    </script>
</head>

<body>
    <h1>Vue JS 기초연습</h1>

    <hr>

    <h2>1. 텍스트 바인딩(binding->데이터넣기!)</h2>
    <div id="app1">
        <p>{{message}}</p>
        <!-- {{}} 중복중괄호는 콧수염 표시자(Mustasch)
             이 부분에 Vue JS 데이터를 넣는 자리다!!
        -->
    </div>

    <hr>

    <h2>2. 반복 렌더링</h2>
    <div id="app2">
        <ol>
            <li v-for="item in list">{{item}}</li>
            <!-- 
                v-for는 뷰js에서 사용하는 반복구문 속성
                반복할 요소에 직접 사용함
                값구성: 변수 in list
                해석: list에 할당된 갯수만큼 돌아서 하나씩 변수에 넣음
             -->
        </ol>
    </div>

    <hr>

    <h2>3. 이벤트 사용하기</h2>
    <div id="app3">
        <button v-on:click="myClick">click</button>
        <!-- 
            v-on:이벤트명
            이벤트와 함수를 연결해주는 뷰JS 속성
            값은 내가 만든 methods 안의 함수명을 써준다
         -->
    </div>

    <hr>

    <h2>4. 입력 양식과 동기화하기</h2>
    <div id="app4">
        <input v-model="message">
        <!-- 
            v-model 속성은 요소자신의 값이 타겟 값으로 반영되게 함
            변경 데이터의 뷰JS의 동기화기능을 확인함!
         -->
        <p>{{message}}</p>
    </div>

    <hr>

    <h2>5. 조건분기</h2>
    <div id="app5">
        <button v-on:click="show=!show">변경하기</button>
        <!-- 
            v-on:click 요소클릭시
            값 show=!show
            해석: true면 false, false면 true로 값변경!
         -->
        <p v-if="show">나는 프론트엔드 개발자다!</p>
        <!-- 
            v-if 속성은 조건에 따라 결과를 다르게 해주는 기능
            값에 show를 쓴것은 기본값 true가 셋팅됨
            이때 뷰JS에서는 해당요소를 보이게하고 
            false이면 요소자체를 없앰!(가상돔에서 태그를 지워줌)
         -->
    </div>

    <hr>

</body>

</html>